{%  load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSIS Hatespeech Dashboard</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="CSIS Indonesia" />

    <link rel="shortcut icon" href="{% static 'vendor/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/materialdesignicons.min.css' %}" />
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <!-- Pe-icon-7 icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/pe-icon-7-stroke.css' %}">

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/custom.css' %}" />

</head>

<body>
     <!-- START  NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-light" id="navbar">
        <div class="container">
            <a class="navbar-brand logo text-uppercase" href="index.html">
                <img src="{% static 'vendor/logo/logocsis.png' %}" alt="" height="50" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="mdi mdi-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto" id="navbar-navlist">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#trends">Trends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contents">Contents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>

                <div>
                    <ul class="top-right text-end list-unstyled list-inline mb-0 nav-social d-none d-lg-block">
                        <li class="list-inline-item"><a href="https://www.facebook.com/csisid/" class="facebook"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://twitter.com/CSISIndonesia" class="twitter"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/csisindonesia/?hl=en" class="instagram"><i class="mdi mdi-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- START HOME -->
    <section class="section align-items-center d-flex" id="home">
        <div id="stripes"></div>
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text-center text-white">
                        <h1 class="home-title text-uppercase">CSIS National Hate Speech Dashboard</h1>
                        <div class="home-border my-3 mt-4"></div>
                        <p class="home-subtitle pt-4 mx-auto">A trend aggregator of tweets containing hate speech against vulnerable minorities in Indonesia.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->

        <!-- START FAQ -->
    <section class="section" id="about">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-12">
                    <div class="title-box">
                        <!--h5 class="sub-title text-primary text-uppercase"></h5-->
                        <h3 class="mt-2 fw-normal">About</h3>
                        <div class="title-border"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 pt-4 align-items-center">
                <div class="col-lg-6">
                    <div class="model-box">
                    <iframe class="dashboard" src="https://www.youtube.com/embed/B8tifWGpA4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="accordion faq-box mt-4" id="accordionExample">
                        <div class="accordion-item mt-4">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5 class="mb-0 f-16">About the Dashboard </h5> <i
                                        class="mdi mdi-chevron-down f-20 ms-auto"></i>

                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-muted mb-0" style="text-align: justify">This dashboard defines hate speech as <b>“any tweet that uses phrases which legitimize hostile actions or ascribe negative qualities towards the identity of a vulnerable community.”</b> This dashboard provides visualizations on three important trends of online hate in Indonesia: first, general trends regarding the volume of hate speech by topic by time; second, content trends surrounding the content of online hate speech, including used hashtags, links and video content, and subtopics; and third, the trends of the actor networks that produce and/or interact with hate speech content.

This dashboard sources its data from public tweets on Twitter and limit the focus of its observations towards hate speech that are targeted to three vulnerable minorities in Indonesia: Indonesian Ahmadiyyah, Shi’a Indonesians, and Chinese Indonesians. These actors are selected because in the past these communities have been targeted by some of the worst campaigns of hate speech in the country – each campaign resulting into significant, and normalized, violation of their rights. For more information regarding the dashboard’s data collection and categorization methodology, you can download the Codebook below.</p>
                                    <div class="text-center">
                                        <a href="{% static 'doc/dashboard/Codebook.pdf' %}"><button class="btn-main btn btn-rounded btn-primary ext-color-gray mt-3 mb-2">Download the Codebook</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mt-4">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h5 class="mb-0 f-16">Policy Relevance</h5> <i
                                        class="mdi mdi-chevron-down f-20 ms-auto"></i>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="text-align: justify">
                                    <p class="text-muted mb-2">Having a dashboard that can accurately capture and identify online hate speech trends is important for three reasons. Firstly, it would supplement existing qualitative hate speech studies in Indonesia by providing quantifiable data portraying the volume and actors that share hate speech content. In conjunction with existing research, this dashboard will be crucial in developing a better description of the magnitude and gravity of online hate speech in Indonesia.</p>
                                    <p class="text-muted mb-2">Secondly, by providing information on not only the volume of hate speech but also who is the network of actors who post and/or shares them, this dashboard can also assist policymakers to develop more accurate policies in targeting the sources of online hate speech in Indonesia.</p>
                                    <p class="text-muted mb-2">Thirdly, by providing the chronological patterns of how online hate speech intensifies, the dashboard can assist policymakers and other relevant stakeholders in developing early warning markers to anticipate and pre-empt a rise in hate speech in future electoral periods.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mt-4">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <h5 class="mb-0 f-16">Suggested Citation</h5> <i
                                        class="mdi mdi-chevron-down f-20 ms-auto"></i>
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-muted mb-0" style="text-align: justify">Lina Alexandra, Alif Satria, Edbert Gani Suryahudaya, and Beltsazar Krisetya, “The National Hate Speech Dashboard,” CSIS Indonesia, (2021). <a href="https://hatespeech.csis.or.id">https://hatespeech.csis.or.id</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mt-4">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0 f-16">List of Terminologies</h5> <i
                                        class="mdi mdi-chevron-down f-20 ms-auto"></i>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="text-muted mb-0" style="text-align: justify"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END FAQ -->
        <!-- START TREND ANALYSIS -->
    <section class="section-lg bg-video" id="trends">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h3 class="text-white mt-5 fw-normal">General Trends</h3>
                        <p class="text-white-50 text-center pt-3">This section provides visualization of hate speech trends on Twitter in Indonesia. This includes trends regarding the volume of hate speech tweets by time (hourly, weekly, and monthly); rate of engagement to hate speech; and ratio of hate speech content per targeted groups. The data being displayed can be filtered by time range and topic category.</p>
                        <div class="title-border"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION 1-->
    <section class="section section-margin" >
        <div class="container">
            <div class="row m-b-n30">
                <div class="col-lg-12 align-self-center m-b-30" data-aos="fade-up" data-aos-duration="1800">
                    <div class="model-box">
                         <iframe class="dashboard" src="https://app.powerbi.com/view?r=eyJrIjoiNWRiMTdkMDMtNjA5MC00YzlmLTkyNmEtY2YwMDJiMzA0ZjExIiwidCI6ImRiNmU3ODA5LWJlNjQtNGUwZS1hYzg3LWEwMGI3MTZhOWFiMiIsImMiOjEwfQ%3D%3D&pageName=ReportSection5be60a19dab430826c03" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <hr class="mb-5 mt-5" style="height: 2px">
                    <div class="model-box">
                         <iframe class="dashboard" src="https://app.powerbi.com/view?r=eyJrIjoiYzUzM2M1NmQtNWU0OC00ZjA5LTllZDktZDQ4ZjBiYTJiZDA4IiwidCI6ImRiNmU3ODA5LWJlNjQtNGUwZS1hYzg3LWEwMGI3MTZhOWFiMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
                <hr class="mb-5 mt-5" style="height: 2px;">
                <div class="col-lg-12 m-b-30 " data-aos="fade-up" data-aos-duration="1800">
                    <div class="model-box">
                         <iframe class="dashboard" src="https://app.powerbi.com/view?r=eyJrIjoiMTk1OTEzMGItY2E5MS00ZDU3LTgwYzctNDYzMGM2NzNiNTM5IiwidCI6ImRiNmU3ODA5LWJlNjQtNGUwZS1hYzg3LWEwMGI3MTZhOWFiMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe><!--img src="{% static 'hatespeech/images/service/1.png' %}" alt="About Image"-->
                    </div>
                </div>
                <hr class="mb-5 mt-5" style="height: 2px;">
                <div class="col-lg-12 m-b-30 " data-aos="fade-up" data-aos-duration="1800">
                    <div class="model-box">
                         <iframe class="dashboard" src="https://app.powerbi.com/view?r=eyJrIjoiOTllMDE3ZDktYzViNy00ZDFiLTk1ZDQtMmY2Mzk4NzIzMmNhIiwidCI6ImRiNmU3ODA5LWJlNjQtNGUwZS1hYzg3LWEwMGI3MTZhOWFiMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe><!--img src="{% static 'hatespeech/images/service/1.png' %}" alt="About Image"-->
                    </div>
                    <hr class="mb-5 mt-5" style="height: 2px">
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- TREND ANALYSIS -->
    <section class="section-lg bg-video" id="contents">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h3 class="text-white mt-5 fw-normal">Content Analysis</h3>
                        <p class="text-white-50 text-center pt-3">This section analyzes the content of tweets containing hate speech. This includes information regarding the ratio of tweets using videos and links, and commonly-used hashtags displayed in a word cloud. Specifically on tweets targeting "Chinese Indonesians", a breakdown based on sub-topics is also displayed.</p>
                        <div class="title-border"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- JUDUL END -->

    <!-- SECTION 4 -->
    <!-- SECTION 2-->
    <section class="section section-margin" >
        <div class="container">
            <div class="row m-b-n30">
                <div class="col-lg-12 align-self-center m-b-30" data-aos="fade-up" data-aos-duration="1100">
                    <div class=" model-box" id="link">
                         <iframe class="dashboard" src="https://app.powerbi.com/view?r=eyJrIjoiNDg5NTBhOGUtMmM1Mi00ZmYwLWE4ZTktMWM5NzllYWI1MTdkIiwidCI6ImRiNmU3ODA5LWJlNjQtNGUwZS1hYzg3LWEwMGI3MTZhOWFiMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
                <hr class="mb-5 mt-5" style="height: 2px">
                <div class="col-lg-12 align-self-center m-b-30" data-aos="fade-up" data-aos-duration="1100">
                    <div class="model-box" id="hashtag">
                         <iframe class="dashboard" src="https://app.powerbi.com/view?r=eyJrIjoiMTY5MWI1M2YtNmU4Ni00ZGU3LWE4NzAtYzU4NGExNzkyOWFkIiwidCI6ImRiNmU3ODA5LWJlNjQtNGUwZS1hYzg3LWEwMGI3MTZhOWFiMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
                <hr class="mb-5 mt-5" style="height: 2px">
                <div class="col-lg-12 m-b-30 " data-aos="fade-up" data-aos-duration="1800">
                    <div class="model-box" id="topic">
                         <iframe class="dashboard" src="https://app.powerbi.com/view?r=eyJrIjoiZDY0OTNmYWItYWFlOS00ZmY5LWIzMzQtN2I1MTY0Zjk3Y2QxIiwidCI6ImRiNmU3ODA5LWJlNjQtNGUwZS1hYzg3LWEwMGI3MTZhOWFiMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->


         <!-- START VIDEO SECTION -->
    <section class="section-lg bg-video" id="contact">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-7">
                    <div class="title-box">
                        <h3 class="text-white mt-5 fw-normal">Further Inquiries
                        </h3>
                        <p class="text-white-50 text-center pt-3">Get in touch with the research team behind this dashboard</p>
                        <div class="title-border"></div>

                    </div>
                </div>
            </div>
    </section>
    <!-- END VIDEO SECTION -->
         <!-- START CONTACT -->
    <section class="section" >
        <div class="container">
            <div class="row mt-5 pt-0">
                <div class="col-lg-4">
                    <div class="contact-content mt-4">
                        <div class="mt-4 pt-1">
                            <div class="contact-icon float-start pe-4">
                                <i class="mdi mdi-phone"></i>
                            </div>

                            <div class="contact-info">
                                <h5 class="f-16 mb-0 fw-normal">Phone Number</h5>
                                <p class="text-muted mb-0 f-14">+62-21-386-5532</p>
                            </div>
                        </div>

                        <div class="mt-4 pt-1">
                            <div class="contact-icon float-start pe-4">
                                <i class="mdi mdi-email"></i>
                            </div>

                            <div class="contact-info">
                                <h5 class="f-16 mb-0 fw-normal">Email Address</h5>
                                <p class="text-muted mb-0 f-14">lina.alexandra@csis.or.id</p>
                            </div>
                        </div>

                        <div class="mt-4 pt-1">
                            <div class="contact-icon float-start pe-4">
                                <i class="mdi mdi-map"></i>
                            </div>

                            <div class="contact-info">
                                <h5 class="f-16 mb-0 fw-normal">Office Location</h5>
                                <p class="text-muted mb-0 f-14">Pakarti Centre Building, Jl. Tanah Abang 3 No. 23-27, Jakarta 10160, Indonesia</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="custom-form mt-4">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <p id="error-msg"></p>
                            <div id="simple-msg"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mt-2">
                                        <input name="name" id="name" type="text" class="form-control"
                                            placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mt-2">
                                        <input name="email" id="email" type="email" class="form-control"
                                            placeholder="Your email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <input type="text" class="form-control" id="subject" name="subject"
                                            placeholder="Your Subject.." />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <textarea name="comments" id="comments" rows="3" class="form-control"
                                            placeholder="Your message..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-12 text-right">
                                    <input type="submit" id="submit" name="send"
                                        class="submitBnt btn btn-rounded btn-primary" value="Send Message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->
    <section class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div id="mc_embed_signup">
                        <form action="https://csis.us7.list-manage.com/subscribe/post?u=3895de47c25e815317f87a018&amp;id=2ffe34fce7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <h5 class="f-17 text-white fw-normal">Subscribe to our Newsletter</h5>
                            <div class="mc-field-group mt-0">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your email here">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3895de47c25e815317f87a018_2ffe34fce7" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 offset-lg-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mt-4 ps-0 ps-lg-5">
                                <h5 class="f-17 text-white fw-normal">CSIS Dashboards</h5>
                                <ul class="list-unstyled footer-link mt-3 mb-0">
                                    <li><a href="https://covid19.csis.or.id/">COVID-19 and Economic Implications</a></li>
                                    <li><a href="https://covid19.csis.or.id/survei/">COVID-19 Behavioural Survey</a></li>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mt-4 ps-0 ps-lg-5">
                                <h5 class="f-17 text-white fw-normal">Other Resources</h5>
                                <ul class="list-unstyled footer-link mt-3 mb-0">
                                    <li><a href="https://csis.or.id/">Website</a></li>
                                    <li><a href="https://csis.or.id/publications">Publications</a></li>
                                    <li><a href="https://www.tokopedia.com/csis?source=universe&st=product">Bookstore</a></li>
                                    <li><a href="https://journals.csis.or.id/">Journals</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr class="my-5">

            <div class="row">
                <div class="col-lg-12">
                    <img src="{% static 'vendor/logo/logocsis.png'  %}" alt="" height="50">

                    <p class="text-white-50 float-end mb-0">
                        2021 © Dashboard by CSIS Indonesia
                    </p>

                </div>

            </div>

        </div>
    </section>

    <!-- bootstrap -->
    <script src="{% static 'dashboard/js/bootstrap.bundle.min.js'  %}"></script>
    <!-- JAVASCRIPTS -->
    <script src="{% static 'dashboard/js/smooth-scroll.polyfills.min.js'  %}"></script>
    <script src="{% static 'dashboard/js/gumshoe.polyfills.min.js'  %}"></script>
    <!-- CUSTOM JS -->
    <script src="{% static 'dashboard/js/app.js'  %}"></script>
    <script src="{% static 'dashboard/js/particles.app.js'  %}"></script>
    <script src="{% static 'dashboard/js/particles.js'  %}"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
     <script type='text/javascript'>
         (function($)
         {window.fnames = new Array(); window.ftypes = new Array();
         fnames[0]='EMAIL';
         ftypes[0]='email';
         fnames[1]='FNAME';
         ftypes[1]='text';
         fnames[2]='LNAME';
         ftypes[2]='text';
         fnames[3]='ADDRESS';
         ftypes[3]='address';
         fnames[4]='PHONE';
         ftypes[4]='phone';
         fnames[5]='BIRTHDAY';
         ftypes[5]='birthday';
         }
         (jQuery));
         var $mcj = jQuery.noConflict(true);
     </script>
</body>

</html>